<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/client_style.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-2.1.0.js")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <h1 id="logo" class="t_compartment"><a href="/" style="margin-left:10%;" class="nav_bcit"><abbr title="British Columbia Institute of Technology">BCIT</abbr></a></h1>
        <div class="container" style="padding-left:250px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="choice" class="navcore_tab">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li id="choice" class="navcore_tab">@Html.ActionLink("Choices", "Index", "ChoiceAdmin", new { area = "" }, null)</li>
                    <li id="choice" class="navcore_tab">@Html.ActionLink("Options", "Index", "OptionAdmin", new { area = "" }, null)</li>
                    <li id="choice" class="navcore_tab">@Html.ActionLink("Terms", "Index", "TermAdmin", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="padding-top:150px;">
        @RenderBody()
        <div style="clear:both;"></div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
