@model backend.Models.Entity.Choice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Choice</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstOptionChoice.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstOptionChoice.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForthOptionChoice.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForthOptionChoice.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondOptionChoice.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondOptionChoice.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdOptionChoice.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdOptionChoice.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
