@model backend.Models.Entity.Choice

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Choice</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentNumber)
                @Html.ValidationMessageFor(model => model.StudentNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TermId, "TermId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TermId", String.Empty)
                @Html.ValidationMessageFor(model => model.TermId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstOptionChoiceId, "FirstOptionChoiceId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FirstOptionChoiceId", String.Empty)
                @Html.ValidationMessageFor(model => model.FirstOptionChoiceId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecondOptionChoiceId, "SecondOptionChoiceId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SecondOptionChoiceId", String.Empty)
                @Html.ValidationMessageFor(model => model.SecondOptionChoiceId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThirdOptionChoiceId, "ThirdOptionChoiceId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ThirdOptionChoiceId", String.Empty)
                @Html.ValidationMessageFor(model => model.ThirdOptionChoiceId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ForthOptionChoiceId, "ForthOptionChoiceId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ForthOptionChoiceId", String.Empty)
                @Html.ValidationMessageFor(model => model.ForthOptionChoiceId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
